{% extends "base.html.twig" %}
{% block title %}
Quack - Messages
{% endblock %}
{% block body %}
     <div class="container mt-4">
     <h1> Messages </h1>
  {% for message in messages  %}
      {# <td>{{message.message}}</td> #}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Message</div>
  <div class="card-body">
    <h4 class="card-title">{{message.message}}</h4>
    <p class="card-text"></p>
  </div>
   
     {% endfor %}
  </tbody>

     
    </div>

{% endblock %}